<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yejin.spring.dao.ShoppingQuestionDao">

	<!-- 글 등록 -->
	<insert id="questionWriteEnrollment" parameterType="ShoppingQuestionVo">
		INSERT INTO SHOPPING_QUESTION_BOARD(
			QUESTION_NUMBER
			, QUESTION_USER
			, QUESTION_TITLE
			, QUESTION_CONTENT
			, QUESTION_REGDATE)
		VALUES(QUESTION_NUMBER_SEQ.NEXTVAL
			, #{questionUser}
			, #{questionTitle}
			, #{questionContent}
			, SYSDATE)
	</insert>
	
	<!-- 상세정보 -->
	<select id="questionDetail" parameterType="int" resultType="ShoppingQuestionVo">
		SELECT RN as rowNumber
				, QUESTION_NUMBER 
			    , QUESTION_USER
			    , QUESTION_TITLE
			    , QUESTION_CONTENT
			    , QUESTION_REGDATE
			    , QUESTION_MODIFY_REGDATE
			    , QUESTION_DELETE_CHECK
		FROM (
			SELECT ROWNUM RN
		    	, QUESTION_NUMBER 
		        , QUESTION_USER
		        , QUESTION_TITLE
		        , QUESTION_CONTENT
		        , QUESTION_REGDATE
		        , QUESTION_MODIFY_REGDATE
		        , QUESTION_DELETE_CHECK
		    FROM SHOPPING_QUESTION_BOARD
		    WHERE QUESTION_DELETE_CHECK = 'N'
		    ORDER BY QUESTION_NUMBER DESC
		)
		WHERE QUESTION_NUMBER = #{questionNumber}
	</select>
	
	<!-- 글 수정 -->
	<update id="questionUpdate" parameterType="ShoppingQuestionVo">
		UPDATE SHOPPING_QUESTION_BOARD
		SET QUESTION_TITLE = #{questionTitle}
			, QUESTION_CONTENT= #{questionContent}
		WHERE QUESTION_NUMBER = #{questionNumber}
	</update>
	
	<!-- 글 삭제 : 삭제 Y, 미삭제 N -->
	<update id="questionDelete" parameterType="int">
		UPDATE SHOPPING_QUESTION_BOARD
		SET QUESTION_DELETE_CHECK = 'Y'
		WHERE QUESTION_NUMBER = #{questionNumber}
	</update>
	
	<!-- 전체 글 수 가져오기 : if문 -->
	<select id="qeustionTotalCount" resultType="int" parameterType="PagingVo">
		SELECT COUNT(*)
		FROM SHOPPING_QUESTION_BOARD
		WHERE QUESTION_DELETE_CHECK = 'N'
		<if test="searchKeyword != null and !searchKeyword.equals('')">
			AND ${searchSelect} LIKE '%'||#{searchKeyword}||'%' 
		</if>
		<if test="startDate != null and !startDate.equals('')">
			AND QUESTION_REGDATE BETWEEN #{startDate} AND #{endDate}
		</if>
	</select>
	
	<!-- 전체 글 리스트 가져오기 : if문 -->
	<select id="questionListPaging" parameterType="PagingVo" resultType="ShoppingQuestionVo">
		
		SELECT TO_NUMBER(#{startQuestionNumber} -1 + rownum) AS rowNumber
				, QUESTION_NUMBER 
				, QUESTION_USER
        		, QUESTION_TITLE
        		, QUESTION_CONTENT
        		, QUESTION_REGDATE
        		, QUESTION_MODIFY_REGDATE
        		, QUESTION_DELETE_CHECK
		FROM(
			SELECT ROWNUM RN 
		           	, QUESTION_NUMBER 
				  	, QUESTION_USER
				  	, QUESTION_TITLE
				  	, QUESTION_CONTENT
				   	, QUESTION_REGDATE
				   	, QUESTION_MODIFY_REGDATE
				    , QUESTION_DELETE_CHECK
		            FROM (
		                SELECT QUESTION_NUMBER 
				       		, QUESTION_USER
				        	, QUESTION_TITLE
				        	, QUESTION_CONTENT
				        	, QUESTION_REGDATE
				        	, QUESTION_MODIFY_REGDATE
				        	, QUESTION_DELETE_CHECK
				    	FROM SHOPPING_QUESTION_BOARD
				    	WHERE QUESTION_DELETE_CHECK = 'N'
				    	<if test="searchKeyword != null and !searchKeyword.equals('')">
				    		AND ${searchSelect} LIKE '%'||#{searchKeyword}||'%' 
				    	</if>
				    	<if test="startDate != null and !startDate.equals('')">
					    	AND QUESTION_REGDATE BETWEEN #{startDate} AND #{endDate}
				    	</if>
				    	ORDER BY QUESTION_NUMBER DESC
		            		)
			)
		WHERE RN BETWEEN #{startQuestionNumber} and #{endQuestionNumber}
	</select>
	
	<!-- json형식으로 리스트 가져오기 -->
	<select id="questionListJson" resultType="ShoppingQuestionVo">
		SELECT QUESTION_NUMBER
			, QUESTION_USER
			, QUESTION_TITLE
			, QUESTION_CONTENT
			, QUESTION_REGDATE
        	, NVL(QUESTION_MODIFY_REGDATE, QUESTION_REGDATE) as questionModityRegdate
			, QUESTION_DELETE_CHECK
		FROM SHOPPING_QUESTION_BOARD
		WHERE QUESTION_DELETE_CHECK = 'N'
		ORDER BY QUESTION_NUMBER ASC
	</select>
</mapper>
